<div id="<%= dom_id foodbank %>">
  <p>
    <strong>Name:</strong>
    <%= foodbank.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= foodbank.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= foodbank.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= foodbank.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= foodbank.zipcode %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= foodbank.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= foodbank.phone %>
  </p>

</div>
