<%= form_with(model: foodbank) do |form| %>
  <% if foodbank.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(foodbank.errors.count, "error") %> prohibited this foodbank from being saved:</h2>

      <ul>
        <% foodbank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "field mb-3">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class= "field mb-3">
    <%= form.text_field :address, class:"form-control", placeholder:"Address" %>
  </div>

  <div class= "field mb-3">
    <%= form.text_field :city, class:"form-control", placeholder:"City" %>
  </div>

  <div class= "field mb-3">
    <%= form.text_field :state, class:"form-control", placeholder:"State" %>
  </div>

  <div class= "field mb-3">
    <%= form.number_field :zipcode, class:"form-control", placeholder:"Zipcode" %>
  </div>

  <div class= "field mb-3">
    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div class= "field mb-3">
    <%= form.number_field :phone, class:"form-control", placeholder:"Phone Number" %>
  </div>

  <br>
  
  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
